*{
    margin: 0;
    padding: 0;
}
body{
    background-color: blueviolet;
}
main{
    width: 900px;
    max-width: 90%;
    margin: 0 auto;
}
section{
    background-color: white;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
}
h1{
    color: blueviolet;
}
.players, .blogs, .courses{
    display: grid;  
    grid-gap: 20px;
    margin-top: 30px;
    place-items: center;
}
.players, .courses{
    grid-template-columns: repeat(3, 1fr);
}
.blogs{
    grid-template-columns: repeat(2, 1fr);
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 50px;
    margin-right: 20px;
}
.blog img, .course img{
    width: 200px;
}
.course-info{
    display: flex;
}
.filled{
    font-size: .8em;
    color: rgba(218, 165, 32, 0.897);
}
.unfilled{
    font-size: .8em;
    color: rgb(194, 192, 187);
}
.icons{
    margin-right: 1em;
}
@media(max-width: 992px){
    .players, .courses{
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media(max-width: 650px){
    .courses{
        grid-template-columns: repeat(1, 1fr);
    }
}